@import url(https://allfont.net/allfont.css?fonts=agency-fb);
/* 'Agency FB' */

@import url(https://allfont.net/allfont.css?fonts=agency-fb-bold);
/* 'Agency FB Bold' */

:root {
    --fonte-destaque: 'Agency FB Bold', Arial;
    --fonte-padrao: 'Agency FB', Arial;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    min-height: 100vh;
    background-color: #000000;
}

body {
    background: black url('../img/fundo.jpg') center center no-repeat fixed;
    background-size: cover;
    color: rgb(70, 70, 70);
}

header {
    padding: 20px 0px 20px 50px;
    background-color: #000000;
    transition: 0.3s;
}

@media only screen and (max-width: 900px) {
    header {
        padding: 20px 0px 20px 10px;
    }
}

header h1, a {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.8em;
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    header h1, a {
        font-size: 1.4em;
    }
}

/* Aqui começa o ícone do menu */

#menu {
    cursor: pointer;
    float: right;
    margin: -58px 50px 0px 0px;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    #menu {
        margin: -48px 10px 0px 0px;
    }
}

div.hamb_menu {
    
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .b1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .b2 {
    opacity: 0;
}

.change .b3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Aqui termina o ícone do menu */
/* Aqui começa o sidenav */

nav#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
}

nav#sidenav a {
    padding: 20px 35px 10px 10px;
    text-decoration: none;
    font-family: var(--fonte-destaque);
    font-size: 1.6em;
    text-align: right;
    color: rgb(230, 230, 230);
    display: block;
    transition: 0.3s;
}

nav#sidenav a:hover {
    transition: 0.1s;
    font-size: 1.8em;
    box-sizing: border-box;
}

#sidenav #closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 3.5em;
}

/* Aqui termina o sidenav */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    max-width: 1000px;
    padding: 20px;
    background-color: white;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 12px;
}

@media only screen and (max-width: 900px) {
    section {
        max-width: 100%;
    }
}

section p, li {
    font-family: var(--fonte-padrao);
    font-size: 1.7em;
    text-align: justify;
    padding: 10px;
}

section li {
    font-size: 1.6em;
    list-style-type: none;
    text-indent: 20px;
}

@media only screen and (max-width: 900px) {
    section p {
        font-size: 1.2em;
    }

    section li {
        font-size: 1.1em;
    }
}

section > h1 {
    text-align: center;
    padding: 0px 0px 30px 0px;
    font-family: var(--fonte-destaque);
    font-size: 2.6em;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 900px) {
    section > h1 {
        font-size: 2em;
    }
}

section > img.img_section {
    display: block;
    margin: auto;
    width: 80px;
    margin-top: -30px;
    margin-bottom: 20px;
}

article h2 {
    font-family: var(--fonte-destaque);
    font-size: 2em;
    padding: 50px 0px 20px 10px;
    color: rgb(50, 50, 50);
}

@media only screen and (max-width: 900px) {
    article h2 {
        font-size: 1.7em;
    }
}

hr {
    padding: 0px 10px;
    margin: auto;
}

article.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    article.content {
        flex-direction: column;
    }
}

article.content_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.texto {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media only screen and (max-width: 900px) {
    div.texto {
        width: 100%;
        border: none;
        box-shadow: 0px 0px 0px 0px black;
        border-radius: 0px;
    }
}

div.texto_solo {
    width: 100%;
}

a.a_text {
    color: rgb(70, 70, 70);
    font-family: var(--fonte-destaque);
    font-size: 1.0em;
}

div.img {
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    div.img {
        width: 100%;
    }
}

div.img > img {
    cursor: pointer;
}

img#img_apres {
    width: 85%;
}

img#img_atq  {
    width: 75%;
}

img#img_mag {
    width: 75%;
}

img#img_inv {
    width: 75%;
}

img#img_campo {
    width: 75%;
}

img#img_manga {
    width: 75%;
}

#footer {
    padding: 10px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    display: block;
}

section#apresentacao {
    display: inline;
}

section#campo {
    display: none;
}

section#ataque {
    display: none;
}

section#magia {
    display: none;
}

section#invocacao {
    display: none;
}

section#manga {
    display: none;
}

section#regras {
    display: none;
}